html, body {
    margin: 0;
    height: 100%;
    text-align: center;
    background-color: #F5F5F5;
}

input {
    height: 2em;
    width: 8em;
    margin: 8px 0;
    padding: 12px;
    border: 2px solid;
    border-radius: 4px;
    background-color: rgb(46, 211, 183);
    color: white;
    box-sizing: border-box;
    padding: 12px 20px;
}

input[type='number'] {
    /* For Firefox */
    -moz-appearance:textfield;
    padding: 2px;
    margin: 12px;
    align-content: center;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type='submit'] {
    padding: 5px;
    margin-top: 12px;
    width: 5em;
    align-content: center;
}