body {
    text-align: center;
}


input[type='number'] {
    /* For Firefox */
    -moz-appearance:textfield;
    padding: 2px;
    margin: 12px;
    align-content: center;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type='submit'] {
    padding: 4px;
    margin-top: 12px;
}